github "onevcat/Kingfisher" ~> 2.0
github "Alamofire/Alamofire" ~> 3.0
github "SwiftyJSON/SwiftyJSON"
github "jdg/MBProgressHUD" ~> 0.9.2
github "CosmicMind/Material"
github "SnapKit/SnapKit" >= 0.15.0
github "xmartlabs/Eureka" ~> 1.0
github "ParsePlatform/Parse-SDK-iOS-OSX"